*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(./side-wave_background.jpg);

}

h1{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 40px;
}


.converter{
    /* background: #000; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px -6px 5px -1px rgba(221, 160, 221, 0.9);
    width: 700px;
    height: 300px;
    margin-left: 16%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.farenheit-div{
    position: relative;
    width: 250px;
}

.farenheit-label{
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.farenheit-div #farenheitInp{
    width: 250px;
    height: 50px;
    border-radius: 0% 5px;
    border: 1px solid grey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: red;
    
}



.celsius-div{
    position: relative;
    width: 250px;
}

.celsius-label{
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.celsius-div #celsiusInp{
    width: 250px;
    height: 50px;
    border-radius: 0% 5px;
    border: 1px solid grey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: red;
    
}
